.orangeModal {
    display: flex;
    align-items: center;
    left: 40%;
    right: 40%;
    top: 19%;
    position: fixed;
    /* border:1px solid #fff;
    box-shadow:1px 1px 1px #fff; */
    margin-top: 20px;
    padding: 20px;
    transition: all 1s ease-out;
    z-index: 100;
}

@media(max-width: 541px) {
    .orangeModal {
        left: 15%;
        right: 15%;
    }
}

@media(min-width: 541px) {
    .orangeModal {
        left: 25%;
        right: 25%;
    }
}